* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}


nav ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: azure;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    width: max-content;
    margin-right: 50px;
    list-style-type: none;
}


#header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 15vh;
    align-items: center;
    position: fixed;
    z-index: 1000;
    background-color: rgba(31, 41, 55,50%);
}

#header-logo {
    margin-left: 20px;
    height: 40px;
}

#hero ,#footer {
    background-color: #1F2937;
}

#hero {
    width: 100vw;
    height: 100vh;
}

#hero-content {
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: center;
}

#hero-img  img{
    width: 100%;
    border-radius: 5%;
}

#hero-img {
    width: 40%;
}

#hero-text {
    width: 40%;
    color: azure;
}

#fun-facts {
    width: 100vw;
    height: 100vh;
    padding: 40px;
    text-align: center;
}

#facts {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 15vh;
}

#quote {
    width: 100vw;
    height: 60vh;
    background-color: rgba(170,170,170,0.5);
    padding-top: 5%;
}

#quote-content {
    width: 70%;
    margin: auto;
    color: black;
}

#quote-text {
    font-size: 56px;
    
}

#quote-owner {
    font-weight: bold;
}

#join-us {
    width: 100vw;
    height: 40vh;
}

#join-content {
    background-color: rgb(238, 255, 82);
    width: 70%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10%;
}

.fact {
    width: 20%;

}

.fact img {
    width: 100%;
    border: 5px solid yellow;
    border-radius: 10px;
}